/* LAYOUT.SCSS */

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
    @media screen and (max-width: 440px) {
        left: -50vw;
    }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotate(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotate(-42deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotate(42deg);
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(
        rgba($color-black, 0.6), 
        rgba($color-black, 0.3)
        ),
        url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .brand {
        @include centering(15%);
        display: flex;
        align-items: center;
    }

    &-banner {
        color: $color-white;
        @include centering(50%);
    }
}

.about-us {
    height: 90vh;
    display: flex;
    align-items: center;

    &-left {
        width: 40%;
        position: relative;

        @media screen and (max-width: 768px) {
            width: 0%;
        }

        img {
            width: 100%;
        }
    }

    &-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;

        @media screen and (max-width: 768px) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

        .stars {
            margin: 30px 0;    
        }

        .star {
            font-size: 15px;
            color: $color-primary;
            margin-left: 5px;
            margin-right: 5px;
        }
        
        .main-heading {
            @media screen and (max-width: 1180px) {
                font-size: 85px;
              }

              @media screen and (max-width: 400px) {
                font-size: 50px;
              }
        }

        .sub-heading {
            @media screen and (max-width: 1180px) {
                font-size: 45px;
              }

              @media screen and (max-width: 1180px) {
                font-size: 30px;
              }
        }

        .description {
            font-family: $font-Roboto;
            font-size: 20px;
            font-style: italic;
            color: $color-secondary;
            text-align: justify;

            @media screen and (max-width: 768px) {
                padding-left: 50px;
                padding-right: 50px;
            }
        }

        .description::first-letter {
            padding-left: 20px;
        }
    }
}

.gallery {
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer {
    padding: 70px 0;
    @include flexlayout;
    flex-direction: column;

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

    &-copyright-paragraph {
        font-family: $font-Roboto;
        font-size: 18px;
        color: $color-secondary;
        @include textStyles(capitalize);
    }
}

.social-media {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 70px;

    &-item {
        list-style: none;
    }

    &-link {
        text-decoration: none;
        font-size: 50px;
        color: $color-secondary;
        transition: color 0.5s;

        &:hover {
            color: $color-primary;
        }
    }
}

.navbar {
    &-navigation {
        display: flex;
    }
}

.navbar {
    position: relative;
    z-index: 25;

    &-navigation {
        display: flex;
        
        &-left {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            left: -50vw;
            transition: left 0.7s ease-in-out;

            .left-img {
                width: 50%;
                position: absolute;
                border-radius: 15px;
                box-shadow: 0 15px 40px rgba($color-black, 0.5);
                opacity: 0.8;
            }

            .left-img-1 {
                top: 15%;
                left: 15%;
            }

            .left-img-2 {
                top: 35%;
                left: 25%;
            }

            .left-img-3 {
                top: 55%;
                left: 35%;
            }
        }
    
        &-right {
            width: 50vw;
            height: 100vh;
            background-color: darken($color-dark, 5%);
            position: fixed;
            right: -50vw;
            @include flexlayout;
            transition: right 0.7s ease-in-out;

            @media screen and (max-width: 440px) {
                width: 105vw;
                right: -100vw;
            }
        }

        .nav-list {
            &item {
                list-style: none;
            }

            &-link {
                font-family: $font-Marck;
                font-size: 50px;
                @include textStyles(capitalize);
                color: $color-secondary;
                text-decoration: none;
                display: block;
                margin: 20px;
                text-align: center;
                transition: all 0.7s;

                &:hover {
                    color: $color-primary;
                    letter-spacing: 5px;
                }
            }
        }
    }
}

ul {
    list-style: none;
}

input[type="checkbox"] {
    display: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
